.info
  a(href="#/account", ng-class="{active: $route.current.tabName == 'account'}", l10n) Public Information
  a(href="#/kyc", ng-class="{active: $route.current.tabName == 'kyc'}", l10n) Private Information 